<div class="section banner-wrap">
    <div class="fs-carousel">
        <div class="carousel-cell" style="background-image: url(/images/banner/banner1.jpeg);"></div>
        <div class="carousel-cell" style="background-image: url(/images/banner/banner2.png);"></div>
    </div>
</div>