/*------------------*
# Base
*------------------*/

html {
    box-sizing: border-box;
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: 1.5;
    overflow-y: scroll;
    min-height: 100%;
    word-wrap: break-word;
}

* {
    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    align-items: stretch;
    display: block;
    display: flex;
    flex-direction: column;
    line-height: 1.5;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

.page-width {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 5%;
    padding-right: 5%;
}

/** container **/
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
} 
@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}
/** END container **/
.bg-color-basic {
    background-color: #f8f9fa;
}
