<header id="header">
    <div class="container">
        <nav class="navigation">
            <div class="nav-logo">
                <img class="img-logo" src="images/logo.png" alt="Home">
            </div>
            <ul class="nav-menu">
                <li><a href="">Wordpress</a></li>
                <li><a href="">Lập Trình</a></li>
                <li><a href="">HTML</a></li>
                <li><a href="">CSS</a></li>
            </ul>
            <div class="nav-toggle">
                <i class="fa fa-list-ul" aria-hidden="true"></i>
            </div>
        </nav>
        <div class="nav-overlay"></div>
    </div>
</header>