{% set page_name = 'Home' %}
{% extends "layouts/layout.html" %}
{% block content %}
<div id="content">
  @@include('section-index/banner.html')
  <div class="container">
    @@include('section-index/gioi-thieu.html')
    @@include('section-index/card.html')
    @@include('section-index/register.html')
  </div>
</div>
{% endblock %}