<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>TAT | {{ page_name }}</title>
    <meta name="keywords" content="keywords">
    <meta name="description" content="description">
    <meta property="og:url" content="#url" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="TAT {{ page_name }}">
    <meta property="og:description" content="description">
    <meta property="og:image" content="#url" />

    <link rel="shortcut icon" type="image/png" href="images/favicon.ico"/>
    <!--banner-->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.css" />
    <link rel="stylesheet" href="https://unpkg.com/flickity-fullscreen@1/fullscreen.css" />
    <!--END-banner-->
    
    <link rel="stylesheet" href="css/main.min.css" />
</head>
<body class="{{ page_name }}">
    {% include "partials/header.html" %}
    <div class="main">
        {% block content %}{% endblock %}
    </div>
    {% include "partials/footer.html" %}
    <script src="js/plugins/jquery.min.js"></script>
    <script src="js/plugins/plugins.min.js"></script>
    <!--banner-->
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.js"></script>
    <script src="https://unpkg.com/flickity-fullscreen@1/fullscreen.js"></script>
    <!--END-banner-->
    <!--Popup-->
    <script src="js/plugins/bootstrap-modalmanager.js"></script>
    <script src="js/plugins/bootstrap-modal.js"></script>
    <!--End-Popup-->
    <script src="js/main.min.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>