/*------------------*
# Form
*------------------*/
.tat_form fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

.tat_form legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

.tat_form label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: bold;
}

.tat_form input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.tat_form input[type="radio"],
.tat_form input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  line-height: normal;
}

.tat_form input[type="file"] {
  display: block;
}

.tat_form input[type="range"] {
  display: block;
  width: 100%;
}

.tat_form select[multiple],
.tat_form select[size] {
  height: auto;
}

.tat_form input[type="file"]:focus,
.tat_form input[type="radio"]:focus,
.tat_form input[type="checkbox"]:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.tat_form output {
  display: block;
  padding-top: 7px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
}

.tat_form .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.tat_form .form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.tat_form .form-control::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.tat_form .form-control:-ms-input-placeholder {
  color: #999;
}

.tat_form .form-control::-webkit-input-placeholder {
  color: #999;
}

.tat_form .form-control::-ms-expand {
  border: 0;
  background-color: transparent;
}

.tat_form .form-control[disabled], .tat_form .form-control[readonly], fieldset[disabled] .tat_form .form-control {
  background-color: #eeeeee;
  opacity: 1;
}

.tat_form .form-control[disabled], fieldset[disabled] .tat_form .form-control {
  cursor: not-allowed;
}

.tat_form textarea.form-control {
  height: auto;
}

.tat_form input[type="search"] {
  -webkit-appearance: none;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .tat_form input[type="date"].form-control,
  .tat_form input[type="time"].form-control,
  .tat_form input[type="datetime-local"].form-control,
  .tat_form input[type="month"].form-control {
      line-height: 34px;
  }

  .tat_form input[type="date"].input-sm, .input-group-sm .tat_form input[type="date"],
  .tat_form input[type="time"].input-sm, .input-group-sm
  .tat_form input[type="time"],
  .tat_form input[type="datetime-local"].input-sm, .input-group-sm
  .tat_form input[type="datetime-local"],
  .tat_form input[type="month"].input-sm, .input-group-sm
  .tat_form input[type="month"] {
      line-height: 30px;
  }

  .tat_form input[type="date"].input-lg, .input-group-lg .tat_form input[type="date"],
  .tat_form input[type="time"].input-lg, .input-group-lg
  .tat_form input[type="time"],
  .tat_form input[type="datetime-local"].input-lg, .input-group-lg
  .tat_form input[type="datetime-local"],
  .tat_form input[type="month"].input-lg, .input-group-lg
  .tat_form input[type="month"] {
      line-height: 46px;
  }
}

.tat_form .form-group {
  margin-bottom: 15px;
}

.tat_form .radio,
.tat_form .checkbox {
  position: relative;
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tat_form .radio label,
.tat_form .checkbox label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}

.tat_form .radio input[type="radio"],
.tat_form .radio-inline input[type="radio"],
.tat_form .checkbox input[type="checkbox"],
.tat_form .checkbox-inline input[type="checkbox"] {
  position: absolute;
  margin-left: -20px;
  margin-top: 4px \9;
}

.tat_form .radio + .radio,
.tat_form .checkbox + .checkbox {
  margin-top: -5px;
}

.tat_form .radio-inline,
.tat_form .checkbox-inline {
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}

.tat_form .radio-inline + .radio-inline,
.tat_form .checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}

.tat_form input[type="radio"][disabled], .tat_form input[type="radio"].disabled, fieldset[disabled] .tat_form input[type="radio"],
.tat_form input[type="checkbox"][disabled],
.tat_form input[type="checkbox"].disabled, fieldset[disabled]
.tat_form input[type="checkbox"] {
  cursor: not-allowed;
}

.tat_form .radio-inline.disabled, fieldset[disabled] .tat_form .radio-inline,
.tat_form .checkbox-inline.disabled, fieldset[disabled]
.tat_form .checkbox-inline {
  cursor: not-allowed;
}

.tat_form .radio.disabled label, fieldset[disabled] .tat_form .radio label,
.tat_form .checkbox.disabled label, fieldset[disabled]
.tat_form .checkbox label {
  cursor: not-allowed;
}

.tat_form .form-control-static {
  padding-top: 7px;
  padding-bottom: 7px;
  margin-bottom: 0;
  min-height: 34px;
}

.tat_form .form-control-static.input-lg, .tat_form .form-control-static.input-sm {
  padding-left: 0;
  padding-right: 0;
}

.tat_form .input-sm {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.tat_form select.input-sm {
  height: 30px;
  line-height: 30px;
}

.tat_form textarea.input-sm,
.tat_form select[multiple].input-sm {
  height: auto;
}

.tat_form .form-group-sm .form-control {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.tat_form .form-group-sm select.form-control {
  height: 30px;
  line-height: 30px;
}

.tat_form .form-group-sm textarea.form-control,
.tat_form .form-group-sm select[multiple].form-control {
  height: auto;
}

.tat_form .form-group-sm .form-control-static {
  height: 30px;
  min-height: 32px;
  padding: 6px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.tat_form .input-lg {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 6px;
}

.tat_form select.input-lg {
  height: 46px;
  line-height: 46px;
}

.tat_form textarea.input-lg,
.tat_form select[multiple].input-lg {
  height: auto;
}

.tat_form .form-group-lg .form-control {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33333;
  border-radius: 6px;
}

.tat_form .form-group-lg select.form-control {
  height: 46px;
  line-height: 46px;
}

.tat_form .form-group-lg textarea.form-control,
.tat_form .form-group-lg select[multiple].form-control {
  height: auto;
}

.tat_form .form-group-lg .form-control-static {
  height: 46px;
  min-height: 38px;
  padding: 11px 16px;
  font-size: 18px;
  line-height: 1.33333;
}

.tat_form .has-feedback {
  position: relative;
}

.tat_form .has-feedback .form-control {
  padding-right: 42.5px;
}

.tat_form .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
}

.tat_form .input-lg + .form-control-feedback,
.tat_form .input-group-lg + .form-control-feedback,
.tat_form .form-group-lg .form-control + .form-control-feedback {
  width: 46px;
  height: 46px;
  line-height: 46px;
}

.tat_form .input-sm + .form-control-feedback,
.tat_form .input-group-sm + .form-control-feedback,
.tat_form .form-group-sm .form-control + .form-control-feedback {
  width: 30px;
  height: 30px;
  line-height: 30px;
}

.tat_form .has-success .help-block,
.tat_form .has-success .control-label,
.tat_form .has-success .radio,
.tat_form .has-success .checkbox,
.tat_form .has-success .radio-inline,
.tat_form .has-success .checkbox-inline, .tat_form .has-success.radio label, .tat_form .has-success.checkbox label, .tat_form .has-success.radio-inline label, .tat_form .has-success.checkbox-inline label {
  color: #3c763d;
}

.tat_form .has-success .form-control {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tat_form .has-success .form-control:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}

.tat_form .has-success .input-group-addon {
  color: #3c763d;
  border-color: #3c763d;
  background-color: #dff0d8;
}

.tat_form .has-success .form-control-feedback {
  color: #3c763d;
}

.tat_form .has-warning .help-block,
.tat_form .has-warning .control-label,
.tat_form .has-warning .radio,
.tat_form .has-warning .checkbox,
.tat_form .has-warning .radio-inline,
.tat_form .has-warning .checkbox-inline, .tat_form .has-warning.radio label, .tat_form .has-warning.checkbox label, .tat_form .has-warning.radio-inline label, .tat_form .has-warning.checkbox-inline label {
  color: #8a6d3b;
}

.tat_form .has-warning .form-control {
  border-color: #8a6d3b;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tat_form .has-warning .form-control:focus {
  border-color: #66512c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}

.tat_form .has-warning .input-group-addon {
  color: #8a6d3b;
  border-color: #8a6d3b;
  background-color: #fcf8e3;
}

.tat_form .has-warning .form-control-feedback {
  color: #8a6d3b;
}

.tat_form .has-error .help-block,
.tat_form .has-error .control-label,
.tat_form .has-error .radio,
.tat_form .has-error .checkbox,
.tat_form .has-error .radio-inline,
.tat_form .has-error .checkbox-inline, .tat_form .has-error.radio label, .tat_form .has-error.checkbox label, .tat_form .has-error.radio-inline label, .tat_form .has-error.checkbox-inline label {
  color: #a94442;
}

.tat_form .has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tat_form .has-error .form-control:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.tat_form .has-error .input-group-addon {
  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}

.tat_form .has-error .form-control-feedback {
  color: #a94442;
}

.tat_form .has-feedback label ~ .form-control-feedback {
  top: 25px;
}

.tat_form .has-feedback label.sr-only ~ .form-control-feedback {
  top: 0;
}

.tat_form .help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

@media (min-width: 768px) {
  .tat_form .form-inline .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
  }

  .tat_form .form-inline .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle;
  }

  .tat_form .form-inline .form-control-static {
      display: inline-block;
  }

  .tat_form .form-inline .input-group {
      display: inline-table;
      vertical-align: middle;
  }

  .tat_form .form-inline .input-group .input-group-addon,
  .tat_form .form-inline .input-group .input-group-btn,
  .tat_form .form-inline .input-group .form-control {
      width: auto;
  }

  .tat_form .form-inline .input-group > .form-control {
      width: 100%;
  }

  .tat_form .form-inline .control-label {
      margin-bottom: 0;
      vertical-align: middle;
  }

  .tat_form .form-inline .radio,
  .tat_form .form-inline .checkbox {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      vertical-align: middle;
  }

  .tat_form .form-inline .radio label,
  .tat_form .form-inline .checkbox label {
      padding-left: 0;
  }

  .tat_form .form-inline .radio input[type="radio"],
  .tat_form .form-inline .checkbox input[type="checkbox"] {
      position: relative;
      margin-left: 0;
  }

  .tat_form .form-inline .has-feedback .form-control-feedback {
      top: 0;
  }
}

.tat_form .form-horizontal .radio,
.tat_form .form-horizontal .checkbox,
.tat_form .form-horizontal .radio-inline,
.tat_form .form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}

.tat_form .form-horizontal .radio,
.tat_form .form-horizontal .checkbox {
  min-height: 27px;
}

.tat_form .form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}

.tat_form .form-horizontal .form-group:before, .tat_form .form-horizontal .form-group:after {
  content: " ";
  display: table;
}

.tat_form .form-horizontal .form-group:after {
  clear: both;
}

@media (min-width: 768px) {
  .tat_form .form-horizontal .control-label {
      text-align: right;
      margin-bottom: 0;
      padding-top: 7px;
  }
}

.tat_form .form-horizontal .has-feedback .form-control-feedback {
  right: 15px;
}

@media (min-width: 768px) {
  .tat_form .form-horizontal .form-group-lg .control-label {
      padding-top: 11px;
      font-size: 18px;
  }
}

@media (min-width: 768px) {
  .tat_form .form-horizontal .form-group-sm .control-label {
      padding-top: 6px;
      font-size: 12px;
  }
}

/*------------------*
# END Form
*------------------*/
