/*------------------*
# Main Content
*------------------*/

/*------------------*
# Banner
*------------------*/
.fs-carousel {
    height: 50vh;
  }
  
  .carousel-cell {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
/*------------------*
# END Banner
*------------------*/
