/*------------------*
# Nav
*------------------*/
nav.navigation {
  position: relative;
  height: $h-menu;
  background-color: #000;
  z-index: 2;
}
.nav-logo {
  float: left;
  height: $h-logo;
  padding: 0 20px;
  background-color: #4caf50;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  line-height: $h-menu;
    }
    .img-logo {
        height: 100%;
       /* display: inline-block;
        vertical-align: middle;*/
    }
ul.nav-menu,
ul.nav-menu li,
ul.nav-menu li a {
  float: left;
}
ul.nav-menu {
  padding-left: 10px;
}
ul.nav-menu li {
  list-style-type: none;
}
ul.nav-menu li a {
  padding: 0 10px;
  color: #ffffff;
  text-decoration: none;
  line-height: 25px;
}
ul.nav-menu li a:hover {
  color: #6decb9;
}
.nav-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 55px;
  height: 55px;
  background-color: #4caf50;
  cursor: pointer;
  display: none;
}
.nav-toggle i {
  display: block;
  color: #fff;
  font-size: 25px;
  padding: 12px;
  line-height: 32px;
}
.nav-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
}
.nav-overlay.active {
  opacity: 1;
  visibility: visible;
}
@media screen and (max-width: 767px) {
  .nav-toggle {
    display: block;
  }
  ul.nav-menu {
    position: absolute;
    top: 38px;
    width: 100%;
    height: 0;
    padding: 0;
    overflow: hidden;
  }
  ul.nav-menu.active {
    height: auto;
  }
  ul.nav-menu li {
    width: 100%;
  }
  ul.nav-menu li a {
    width: 100%;
    padding: 0;
    text-align: center;
    background-color: #2c2c2c;
  }
  ul.nav-menu li a:hover {
    background-color: #1c1c1c;
  }
  .nav-toggle {
    display: block;
  }
  ul.nav-menu li a {
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    color: #ffffff;
    text-decoration: none;
  }
}
nav.navigation {
  z-index: 2;
}
/*------------------*
# Nav
*------------------*/
